/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.post-16{

	padding: 23% 5% 14% 53%;
    width: 100%;
    height: 100%;
    p{
		text-align: end;
		font-size: 1rem;
	}
	
	h1{
		text-align: end;
	}
}

.post-21{
	margin: 0 0 1.5rem;
    width: 60%;
    padding: 17% 10%;
	p{
		text-align: start;
		font-size: 1rem;
	}
	
	h1{
		text-align: start;
	}
}

.hentry {

	
}


.page-back{
	color: $color__background-body;
}

.met-page{
	color: $color__text-screen;	
	a{
		color: white;

		i{
			font-size: 1.6rem;
		}

	}
	
}


.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.blog{


	.entry-content{
		margin-top: 3rem;
	}

}

body{
	color: $color__text-main;
    font-family: $font__main;
    font-size: 1rem;
	line-height: 1.5;
	font-size: $font_size;
	font-weight: lighter;
}
.entry-meta{
	margin-bottom: 3rem;
}

.entry-meta{
	.entry-title{
		display: inline;
		font-size: 1.04rem;
		font-weight: 400;
		margin-bottom: 0;
		font-weight: lighter;
		margin: 0%;
		
	}
}


.container {
	text-align: center;
    margin: 0 auto;
    max-width: 1080px;
    padding: 0.5%;
    width: 100%;
}

