

footer{
    width: 100%;
    text-align: left;
    position: static;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    align-items: center;
    text-align: center;
    p{
        font-size: 12px;
        margin: 0%;
    }
    img{
        width: 2%;
    }
}
