/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
      
.header-navigation {

  padding: 0%;
  list-style: none;
   li {
    
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }


    }

}

    
.site-branding{
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  order: initial;
  align-items: center;
  position: absolute;
  padding: 3% 5%;
  img{
    width: 40px;
  }
}


.social{
  list-style: none;
  display: flex;
  margin-bottom: 0px ;
  padding: 0;

  ul{
    margin: 0%;
    align-items: center;
  }
  li{
    padding:  0% 5%;
    font-size: 1.6rem;
    align-items: center;
  }
}

.menu-main-navigation-container{
  display: none;
  width: 100%;
  padding: 15px 14px 18px 26px;
  
  ul{
    margin: 0%;

    li{

      border-top: solid 0.1px white;
      padding: 8px 1px ;
      
    }
    li:last-child{
      border-bottom: solid 0.1px white;

    }
  }
}

.logo{
  width: 100px;
  text-align: center;
}

.nav-butom{
  margin: 50%;
}