/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* All Archives Page */


/* Submit a Quote Page */

.home-page{
    p{
        flex: 0 1 100%;
        font-size: 20px;
    }
}

.page-back{
    height: 100vh;
    
}

.contact{
  padding: 15% 10%;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  .entry-title{
    display: none;
  }
  

 .map{
  width:50%;
  height:auto; 
  border:0;
 }

}

.items-left{
  display: flex;
  justify-content: flex-end
}

.nutricion{
  width: 60%;
  padding: 17% 10%;
  text-align: end;
  

}


.filosofia{

  background-position-x: 90%;
}


.tab_selected {
  a{

    color: $color__text-alt;
  }
}

.hide{
    display: inline;
    img{
        width: 20px;
    }
}

.font-page{
  display: flex;
  justify-content: center;
  text-align: center;
  img{
    width: 70%;
    height: auto;
  }
}

// ARCHIVE--------
.archive-container{

    border-top: 1px solid $color__text-main;
    border-bottom: 1px solid $color__text-main;
}

.archive-ma{
    margin-top: 10%;
}


.nutricion{
  align-items: flex-end;

}

.social-container{
  .information{
    display: none;
  }
}

@media screen and (min-width: 620px){

    .social-container{
        order: 2;
    }
    .hide{
        display: none;

    }

    .site-info {
        display: flex;
        flex-wrap: wrap;
        margin: 4.5rem 0 3rem;
        font-size: 1rem;
        
        p {
          width: 0 1 100%;
          line-height: 1;
        }
    
      }


      .fa{
        font-size: 1.5rem;
      }
      
      .header-navigation {
    
        display: inline-flex;
        list-style: none;
        margin: 0.5rem 0 0 0;
        padding: 0;
      
          li {
              border-right: 1px solid $color__background-alt!important;
              line-height: 3;
               padding: 0 0.5rem!important;
          
          &:first-child {
            padding-left: 0;
          }
      
          &:last-child {
            border-right: 0;
          }
      
          }
      }


      .font-page{

        img{

          width: 30%;
        }
      }
      
    
    
    
      .site-branding{
        width: 96%;
        padding: 0% 0%;
     
        display: flex;
        justify-content: space-between;
        align-items: center;
        order: -1;
        flex-wrap: none;
        margin-left: unset;
        margin: 1% 2%;
        
        img{
          width: 80%;
          padding-top: 0% 2%;
        }
      }
    
      
      .social{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 1rem ;
        font-size: 1.8rem;
        align-items: center;
        ul{
          margin: 0%;
          align-items: center;
          padding: unset;
        }
        li{
          padding:  0% 5%;
          font-size: 1.5rem;
          align-items: center;
        }
      }
      


      .menu-main-navigation-container{
        display: unset;
        width: unset;
        padding: unset;
        ul{
          margin: 0%;
       
          li{
            
            border-top: none;
            padding: 3%;
            
          }
          li:last-child{
            border-bottom: none;
      
          }
        }
      }

      .logo{
        width: 5%;
      }


      .hentry {

        
        p{
          text-align: start;
          font-size: 1.5rem;
        }
        
        h1{
          text-align: start;
        }
        
      }

      .menu-main-navigation-container{
        background: transparent;
      }
  

}

@media screen and (min-width: 1060px){
  .post-16{
    margin: 0 0 $base__space-unit;
    width: 60%;
    padding: 17% 10%;
  }

  p{
    font-size: 1.5rem;
  }
  
  .post-21{
    p{
      text-align: end;
    }
    h1{
      text-align: end;
    }
  }

}

.pages{
  position: absolute;
}