/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* All Archives Page */


/* Submit a Quote Page */

.home-page{
    p{
        flex: 0 1 100%;
        font-size: 20px;
    }
}

.page-back{
    height: 80vh;
}


.hide{
    display: inline;
    img{
        width: 20px;
    }
}



// ARCHIVE--------
.archive-container{

    border-top: 1px solid $color__text-main;
    border-bottom: 1px solid $color__text-main;
}

.archive-ma{
    margin-top: 10%;
}

@media screen and (min-width: 620px){

    .social-container{
        order: 2;
    }
    .hide{
        display: none;

    }

    .site-info {
        display: flex;
        flex-wrap: wrap;
        margin: 4.5rem 0 3rem;
        font-size: 1rem;
        
        p {
          width: 0 1 100%;
          line-height: 1;
        }
    
      }
      
      .header-navigation {
    
        display: inline-flex;
        list-style: none;
        margin: 0.5rem 0 0 0;
        padding: 0;
      
          li {
              border-right: 1px solid $color__background-alt;
              line-height: 3;
               padding: 0 0.5rem;
          
          &:first-child {
            padding-left: 0;
          }
      
          &:last-child {
            border-right: 0;
          }
      
    
          }
      }
    
    
    
      .site-branding{
        width: 96%;
        padding: 0% 0%;
     
        display: flex;
        justify-content: space-between;
        align-items: center;
        order: -1;
        flex-wrap: none;
        margin-left: unset;
        margin: 1% 2%;
        
        img{
          width: 80%;
          padding-top: 0% 2%;
        }
      }
    
      
      .social{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 1rem ;
  
        align-items: center;
        ul{
          margin: 0%;
          align-items: center;
          padding: unset;
        }
        li{
          padding:  0% 5%;
          font-size: 1.5rem;
          align-items: center;
        }
      }
      


      .menu-main-navigation-container{
        display: unset;
        width: unset;
        padding: unset;
        ul{
          margin: 0%;
       
          li{
            
            border-top: none;
            padding: 2% 3%;
            
          }
          li:last-child{
            border-bottom: none;
      
          }
        }
      }

      .logo{
        width: 5%;
      }

  

}

@media screen and (min-width: 1080px){


}

