// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: black;
$color__background-alt: #5e5e5e;
$color__text-main: #5e5e5e;
$color__text-alt: #BC9557;

$color__background-screen: #f1f1f1;
$color__text-screen: #ffff;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: $color__text-alt;
$color__link-visited: $color__text-alt;
$color__link-hover: rgb(224, 120, 51);

// Typography

$font__main: "Oswald",serif;
$font__code: "Oswald", Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font-size: 16px;
